---
layout: page-2
page_header:
  enable: true
  title: "Fields of Expertise"
  sub_title: "We thrive on tailoring cutting-edge strategies to provide clients with the best solutions"
  background_image: "/assets/images/art/eab.jpg"
blogs_area:
  enable: true
  title: "News & Updates"
  posts_number: 6
---

<div class="wrapper gray-wrapper">
  <div class="container inner">
    <h2 class="section-title mb-40 text-center">Our Fields of Expertise</h2>
    <p class="lead larger text-center">We thrive on tailoring cutting-edge strategies to provide clients with the best solutions in the industry.</p>
    <ul class="nav nav-pills nav-tabs nav-tabs-centered d-flex justify-content-center text-center">
      <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#tab4-1">
          <div class="icon color-dark"><i class="icofont-micro-chip"></i></div><span>AI</span>
        </a> </li>
      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab4-2">
          <div class="icon color-dark"><i class="icofont-brainstorming"></i></div><span>IoT</span>
        </a> </li>
      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab4-3">
          <div class="icon color-dark"><i class="icofont-cubes"></i></div><span>Drones</span>
        </a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab4-4">
            <div class="icon color-dark"><i class="icofont-code-alt"></i></div><span>Software</span>
          </a> </li>
          <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab4-5">
              <div class="icon color-dark"><i class="icofont-newspaper"></i></div><span>Public Policies</span>
            </a> </li>
    </ul>
    <!-- /.nav-tabs -->
    <div class="space30 d-none d-md-block"></div>
    <div class="tab-content">
      <div class="tab-pane show active" id="tab4-1">
        <div class="box bg-white shadow">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                <figure><img src="#" srcset="{{relative_url}}/assets/images/concept/con1.png 1x, {{relative_url}}/assets/images/concept/con1@2x.png 2x" alt="" /></figure>
              </div>
            </div>
            <!--/column -->
            <div class="space30 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6">
              <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                <h2>Artificial Intelligence</h2>
                <p>At Vishvena, we are at the forefront of innovation, utilizing Artificial Intelligence to transform key sectors, including Agriculture, Fleet Management, Health, and Defence. Our commitment lies in delivering cutting-edge solutions that optimize operations, improve efficiency, and drive progress in these vital domains.</p>
                <p>At Vishvena, we are dedicated to pushing the boundaries of AI applications, contributing to a future where technology creates sustainable solutions and secures our world. Join us as we pioneer advancements that shape the way industries operate and evolve. Vishvena - Where AI meets Excellence.</p>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.box -->
      </div>
      <div class="tab-pane" id="tab4-2">
        <div class="box bg-white shadow">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                <figure><img src="#" srcset="{{relative_url}}/assets/images/concept/con2.png 1x, {{relative_url}}/assets/images/concept/con2@2x.png 2x" alt="" /></figure>
              </div>
            </div>
            <!--/column -->
            <div class="space30 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6">
              <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                <h2>Internet of Things</h2>
                <p>1. Specializes in shaping deep tech innovation.</p>
				<p>2. Leverages IoT for solutions in healthcare, agriculture, and fleet management.</p>
				<p>3. Holds patents for inventions like TRINETRA IoT software and chromatic jaundice detection.</p>
				<p>4. Actively revolutionizing farming practices with drone systems. </p>
				<p>5. Enhances commercial transportation through camera-based AI devices.</p>
				<p>6. Dedicated to transforming industries with viable and valuable deep tech solutions.</p>
				
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.box -->
      </div>
      <div class="tab-pane" id="tab4-3">
        <div class="box bg-white shadow">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="pl-15 pr-md-0 pl-sm-0 h-100">
                <h2>Drones</h2>
                <p>Vishvena's Drone Division: Pushing Boundaries in Aerial Tech. Our expertise in IoT, AI, and advanced hardware drives innovation for agriculture, logistics, and emergency response. Reliability, simplicity, safety, our commitment to revolutionizing sectors is unwavering. Expect big things.</p>
				<p>1. Innovating Aerial Solutions Globally.</p>
				<p>2. Transforming Industries through Drone Technology.</p>
				<p>3. Reliable, Safe, and Futuristic Drones.</p>
			  
			  </div>
            </div>
            <!--/column -->
            <div class="space30 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6">
              <div class="pr-15 pl-md-0 pr-sm-0 h-100">
                <figure><img src="#" srcset="{{relative_url}}/assets/images/concept/con3.png 1x, {{relative_url}}/assets/images/concept/con3@2x.png 2x" alt="" /></figure>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.box -->
      </div>
      <div class="tab-pane" id="tab4-4">
        <div class="box bg-white shadow">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                <figure><img src="#" srcset="{{relative_url}}/assets/images/concept/con4.png 1x, {{relative_url}}/assets/images/concept/con4@2x.png 2x" alt="" /></figure>
              </div>
            </div>
            <!--/column -->
            <div class="space30 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6">
              <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                <h2>Softwares</h2>
                <p>In our pursuit of technological innovation, Vishvena places a strong emphasis on software solutions that drive efficiency, precision, and advancement across key sectors. Our Software Section plays a pivotal role in reshaping Agriculture, Fleet Management, Health, and Defence. Explore how Vishvena leverages software to catalyze transformative changes</p>
			  </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.box -->
      </div>
	  <div class="tab-pane" id="tab4-5">
        <div class="box bg-white shadow">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                <figure><img src="#" srcset="{{relative_url}}/assets/images/concept/con5.png 1x, {{relative_url}}/assets/images/concept/con5@2x.png 2x" alt="" /></figure>
              </div>
            </div>
            <!--/column -->
            <div class="space30 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-6">
              <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                <h2>Public Policies</h2>
                <p>"At Vishvena, our Public Policy Section is pivotal to our commitment to responsible practices. In Agriculture, we champion policies for sustainable farming and precision agriculture. Simultaneously, in Fleet Management, our engagement in policy discussions focuses on safety standards and smart technology integration, fostering positive change."</p>
				<p>In the realms of Health and Defence, our collaboration with policymakers extends to policies enhancing healthcare accessibility and ensuring ethical AI use. In Defence, our focus lies in the responsible deployment of autonomous systems, contributing to international security cooperation. Vishvena's dedication to innovation through impactful public policy underscores our commitment to shaping a greener and more sustainable world."</p>
              </div>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/.box -->
      </div>
    </div>
    <!-- /.tab-content -->
  </div>
  <!-- /.container -->
</div>

{% if page.blogs_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    {% if page.blogs_area.title %}
    <h2 class="section-title text-uppercase text-center mb-40">{{page.blogs_area.title}}</h2>
    {% endif %}
    <div class="grid-view">
      <div class="carousel owl-carousel blog-posts" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'>
          {% for post in site.posts limit: page.blogs_area.posts_number %}
        <div class="item">
          <figure class="overlay overlay1 rounded mb-30">
            {% if post.post_image %}
              <a href="{{post.url}}"><img src="{{post.post_image}}" class="post-thumb" alt="{{post.title}}"/></a>
            {% endif %}
            <figcaption>
              <h5 class="from-top mb-0">Read More</h5>
            </figcaption>
          </figure>
          <div class="category">
            <a href="/category/{{post.categories[0] | slugify}}" class="badge rounded-pill {{post.badge_color}} ">{{post.categories[0]}}</a>
          </div>
          <h2 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h2>
          <div class="meta mb-0"><span class="date"><i class="jam jam-clock"></i> {{post.date | date_to_string}}</span></div>
        </div>
        {% endfor %}
      </div>
      <!-- /.owl-carousel -->
    </div>
    <!-- /.grid-view -->
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
