---
layout: default
title: Vishven - Let's Build
meta_title: Vishven - Let's Build
meta_description: |
  At VISHVENA TECHNO SOLUTIONS, our mission is centered on innovation, with a distinct focus on patent-driven expertise. 
  Specializing in the dynamic realms of Artificial Intelligence, groundbreaking innovations, 
  and the development of cutting-edge hardware and software, we are committed to pushing the boundaries of what’s possible in the tech landscape.
custom_color: purple
custom_font:
simple_nav: true

slider_area:
  enable: true
  button_text: "See Projects"
  button_url: "#"
  sliders:

    - img: "/assets/images/art/slider-bg1.jpg"
      title:
        - heading:  "Make in INDIA"
          x: "center"
          y: "middle"
          voffset: |
            ['-100','-100','-90','-70']
          hoffset:
          fontsize: |
            ['65','65','50','35']
          lineheight: |
            ['80','80','65','50']
          width: |
            ['800','800','600','340']
          textAlign: |
            ['center','center','center','center']
          whitespace: |
            ['normal','normal','normal','normal']
      sub_title:
        - subheading: "Make India aims to boost domestic manufacturing,<br>promote economic growth,<br>and position India as the global manufacturing hub through policy initiatives and investment-friendly measures."
          x: "center"
          y: "middle"
          voffset: |
            ['25','25','25','25']
          fontsize: |
            ['25','25','25','20']
          lineheight: |
            ['36','36','36','30']
          width: |
            ['1000','1000','600','340']
          textAlign: |
            ['center','center','center','center']
          wightspace: |
            ['normal','normal','normal','normal']
      button:
        - text: "See Projects"
          url: "#"
          x: "center"
          y: "middle"
          voffset: |
            ['115','115','115','115']
          hoffset:
          width: |
            ['auto','auto','auto','auto']
          textAlign: |
            ['center','center','center','center']
    - img: "/assets/images/art/slider-bg2.webp"
      title:
        - heading:  "Patent Driven Innovations"
          x: |
            ['left','left','center','center']
          y: "middle"

          hoffset: |
            ['550','450','0','0']
          voffset: |
            ['-100','-100','-100','-90']
          fontsize: |
            ['65','65','50','35']
          lineheight: |
            ['80','80','65','50']
          width: |
            ['900','900','680','340']
          textAlign: |
            ['left','left','center','center']
          whitespace: |
            ['normal','normal','normal','normal']
      sub_title:
        - subheading: "It's all about patents and specializes in AL, innovations, inventions and creating hardware and software around them."
          x: "['left','left','center','center']"
          y: "middle"
          voffset: |
            ['0','0','0','0']
          hoffset: |
            ['550','450','0','0']
          fontsize: |
            ['26','26','26','20']
          lineheight: |
            ['36','36','36','30']
          width: |
            ['600','600','600','340']
          textAlign: |
            ['left','left','center','center']
          whitespace: |
            ['normal','normal','normal','normal']
      button:
        - text: "Get Started"
          url: "#"
          x: "center"
          y: "middle"
          voffset: |
            ['90','90','90','90']
          hoffset:
          width: |
            ['auto','auto','auto','auto']
          textAlign: |
            ['center','center','center','center']
    - img: "/assets/images/art/slider-bg3.webp"
      title:
        - heading:  "We are Building a Better World"
          x: "center"
          y: "middle"
          voffset: |
            ['-85','-85','-85','-95']
          hoffset:
          fontsize: |
            ['65','65','50','35']
          lineheight: |
            ['80','80','65','50']
          width: |
            ['900','900','680','340']
          textAlign: |
            ['center','center','center','center']
          whitespace: |
            ['normal','normal','normal','normal']
      sub_title:
        - subheading: "We offer solutions that connect engneering expertise with technology that enhances<br>the efficency of manufacturing, transportation, and operations."
          x: "center"
          y: "middle"
          voffset: |
            ['0','0','0','0']
          fontsize: |
            ['26','26','26','20']
          lineheight: |
            ['36','36','36','30']
          width: |
            ['900','900','680','340']
          textAlign: |
            ['center','center','center','center']
          wightspace: |
            ['normal','normal','normal','normal']
      button:
        - text: "Contact Us"
          url: "#"
          x: |
            ['left','left','center','center']
          y: "middle"
          voffset: |
            ['105','105','105','105']
          hoffset: |
            ['550','450','0','0']
          width: |
            ['auto','auto','auto','auto']
          textAlign: |
            ['left','left','center','center']

clients_carousel:
  enable: true
  title: "We are creative company that values quality not quantity and focuses on establishing long-term relationships with clients."

services_area:
  enable: true
  title: |
    The full service we are offering is specifically <br class="d-none d-lg-block">designed to meet your business needs.
  services:
    - title: "AI Cameras"
      sub_title: "Elevate your surveillance with cutting-edge AI cameras. Our SEO-optimized solution ensures top visibility. Enhance security and streamline monitoring effortlessly. Discover the future of smart surveillance with us!"
      icon: "/assets/images/icon/hs-24-hours-1.webp"

    - title: "Internet of Things"
      sub_title: "Explore the limitless possibilities of the Internet of Things (IoT) with our SEO-optimized solutions. Connect devices seamlessly, boost efficiency, and transform your business. Embrace the future of connectivity with us!"
      icon: "/assets/images/icon/st-payment-method.webp"

    - title: "Artificial Intelligance"
      sub_title: "Unlock the potential of Artificial Intelligence (AI) with our SEO-optimized solutions. Harness intelligent technologies for enhanced performance, efficiency, and innovation. Empower your business with the future of AI excellence. Explore now!"
      icon: "/assets/images/icon/ms-cloud-computing.webp"

    - title: "Smart Roads"
      sub_title: "Navigate the future with our SEO-optimized smart roads solutions. Transform commuting with innovative technology, ensuring safety and efficiency. Experience the evolution of transportation infrastructure for a smarter, connected journey ahead."
      icon: "/assets/images/icon/of-diagram.webp"

    - title: "Agriculture"
      sub_title: "Revolutionize agriculture with our SEO-optimized solutions. From smart farming to sustainable practices, discover the tools to boost yields and efficiency. Cultivate success with cutting-edge technology tailored for modern agriculture."
      icon: "/assets/images/icon/sm-setting.webp"

    - title: "Health"
      sub_title: "Elevate your well-being with our SEO-optimized health solutions. From fitness to mental wellness, discover personalized approaches for a healthier life. Embrace technology that empowers your journey to holistic well-being now!"
      icon: "/assets/images/icon/de-earth-globe-3.webp"
projects_area:
  enable: true
  title: "Our Projects"
  sub_title: "Check out some of our awesome projects with creative ideas and great design."
  button_text: "See All Works"
  button_url: "#"
  projects:
    - image: "/assets/images/art/pp4-1.webp"
      url: "#"
    - image: "/assets/images/art/pp4-2.webp"
      url: "#"
    - image: "/assets/images/art/fp8.webp"
      url: "#"
    - image: "/assets/images/art/fp14.webp"
      url: "#"
    - image: "/assets/images/art/fp6.webp"
      url: "#"
    - image: "/assets/images/art/fp13.webp"
      url: "#"
teams_carousel:
  enable: true
  type: blob
  title: |
    Save your time and money <br class="d-none d-lg-block"> by choosing our professional team.

testimonials:
  enable: true
  image: "/assets/images/art/woman.webp"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      name: "Cornelia Gibson"
      designation: "Financial Analyst"

    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      name: "Coriss Ambady"
      designation: "Marketing Specialist"

    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      name: "Barclay Widerski"
      designation: "Sales Manager"

pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: |
    We offer great prices, premium products <br class="d-none d-lg-block" />and quality service for your business.
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      yearly_price: 99
      pricing_url: "#"
      icon: "/assets/images/icon/ec-mobile.webp"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      popular: popular
      monthly_price: 19
      yearly_price: 199
      pricing_url: "#"
      icon: "/assets/images/icon/ec-store.webp"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Corporate Plan"
      monthly_price: 49
      yearly_price: 499
      pricing_url: "#"
      icon: "/assets/images/icon/ec-online-shop.webp"
      features:
        - "<strong>49</strong> Project"
        - "<strong>300K</strong> API Access"
        - "<strong>500MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

contact_area:
  enable: true
  title: "Contact Us"
  image: "/assets/images/art/map.webp"
  sub_title: |
   'Convinced yet? Let's make something great together. <br class="d-none d-lg-block">If you got any questions, don't hesitate to get in touch with us.'
  contact_data:
    - icon: "/assets/images/icon/ui-gps.webp"
      info: "Moon Street Light Avenue<br> 14/05 Jupiter, JP 80630"

    - icon: "/assets/images/icon/co-telephone.webp"
      info: "00 (123) 456 78 90<br/> 00 (987) 654 32 10"

    - icon: "/assets/images/icon/co-email-5.webp"
      email_01: "manager@email.com"
      email_02: "asistant@email.com"

---

{% include nav/nav-4.html  light_logo="true" alignment_class="ms-auto" %}

<div class="wrapper dark-wrapper">
  <div class="rev_slider_wrapper fullscreen-container">
    <div id="slider" class="rev_slider fullscreenbanner" data-version="5.4.7">
      <ul>
        {% for slider in page.slider_area.sliders %}
        <li data-transition="fade" data-thumb="">
          <img src="{{slider.img}}" alt="{{slider.title.heading}}" />
          {% for title in slider.title %}
          <div class="tp-caption font-weight-500 color-white
          {% cycle 'text-center', '', '' ,'text-center' %}" data-x="{{title.x}}" data-y="{{title.y}}"
            data-voffset="{{title.voffset}}" data-hoffset="{{title.hoffset}}" data-fontsize="{{title.fontsize}}"
            data-lineheight="{{title.lineheight}}" data-width="{{title.width}}" data-textAlign="{{title.textAlign}}"
            data-whitespace="{{title.whitespace}}"
            data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-responsive="on" data-responsive_offset="on" style="z-index: 9;"> {{title.heading}}
          </div>
          {% endfor %}
          <!-- /.tp-caption -->
          {% for sub_title in slider.sub_title %}
          <div class="tp-caption font-weight-400 color-white {% cycle 'text-center', '','text-center' %}"
            data-x="{{sub_title.x}}" data-y="{{sub_title.y}}" data-voffset="{{sub_title.voffset}}"
            data-hoffset="{{sub_title.hoffset}}" data-fontsize="{{sub_title.fontsize}}"
            data-lineheight="{{sub_title.lineheight}}" data-width="{{sub_title.width}}"
            data-textAlign="{{sub_title.textAlign}}" data-whitespace="{{sub_title.whitespace}}"
            data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-responsive="on" data-responsive_offset="on" style="z-index: 9;"> {{sub_title.subheading}}
          </div>
          {% endfor %}
          {% for button in slider.button %}
          <!-- /.tp-caption -->
          <a class="tp-caption btn btn-l btn-white btn-strong-hover scroll" data-x="{{button.x}}" data-y="{{button.y}}"
            data-voffset="{{button.voffset}}" data-hoffset="{{button.hoffset}}" data-width="{{button.width}}"
            data-textAlign="{{button.textAlign}}"
            data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-responsive="on" data-responsive_offset="on" style="z-index: 9;" href="{{button.url}}"> {{button.text}}
          </a>
          <!-- /.tp-caption -->
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
</div>
  <!-- Features Wrapper-->
  {% if page.services_area.enable %}
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <h3 class="display-3 text-center">We encourage you to Think Big too! Our end-to-end services, domains, and areas expertise in cutting edge tech and ability to build whatever you dream up, makes us your ideal partner. Explore our Domains & Areas.</h3>
      <div class="space40"></div>

      <div class="row text-center">
        {% for services in page.services_area.services %}

        {% assign loopindex = forloop.index %}

        {% if loopindex == 3 %}
        <div class="space30 d-none d-md-block d-lg-none"></div>
        {% elsif loopindex == 4 %}
        <div class="space30 d-none d-lg-block"></div>
        {% elsif loopindex == 5 %}
        <div class="space30 d-none d-md-block d-lg-none"></div>
        {% endif %}
        <div class="col-md-6 col-lg-4">
          <div class="box bg-white shadow shadow-hover">
            <div class="icon icon-svg mb-20"><img src="{{services.icon}}" alt=""></div>
            <h5>{{services.title}}</h5>
            <p>Test</p>
          </div>
          <!--/.box -->
        </div>
        <!--/column -->
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  <!-- /.Features Wrapper-->
  <!--Projects Wrapper-->
  <!---/.projects Wrapper-->
  <!-- Team Wrapper -->
  <!-- /.Team Wrapper -->
  <!--testimonial wrapper-->

  <!--/.testimonial wrapper-->
  <!-- pricing wrapper-->
    {% include footer/footer-5.html %}
