---
layout: default
title: Vishvena - Let's Build
meta_title: Vishvena - Let's Build
meta_description: |
  Unlock innovation with Vishvena! Explore our Intellectual Property, Artificial Intelligence, Hardware, and Software services. Transform your business today!
custom_color: purple
custom_font:
simple_nav: true

slider_area:
  enable: true
  sliders:
    - img: "/assets/images/art/1.webp"
      alt_text: "Patents"
      title: 
        heading: "atent Driven Innovations"
        x: "center"
        y: "middle"
        voffset: "['-100','-100','-90','-70']"
        hoffset: ""
        fontsize: "['65','65','50','35']"
        lineheight: "['80','80','65','50']"
        width: "['100%','100%','100%','100%']"  # Adjusted for full width on mobile
        textAlign: "['center','center','center','center']"
        whitespace: "['normal','normal','normal','normal']"
      sub_title:
        - subheading: "Your One-Stop Destination for Comprehensive IP Solutions"
          x: "center"
          y: "middle"
          voffset: "['0','0','0','0']"
          fontsize: "['26','26','26','20']"
          lineheight: "['36','36','36','30']"
          width: "['100%','100%','100%','100%']"  # Adjusted for full width on mobile
          textAlign: "['center','center','center','center']"
          whitespace: "['normal','normal','normal','normal']"
      button:
        - text: "Learn More"
          url: "/patents-ip-realization"
          x: "center"
          y: "middle"
          voffset: "['115','115','115','115']"
          hoffset: ""
          width: "['auto','auto','auto','auto']"
          textAlign: "['center','center','center','center']"

    - img: "/assets/images/art/2.jpeg"
      alt_text: "DreamTalk"
      title:
        heading: "DreamTalk"
        x: "center"
        y: "middle"
        voffset: "['-100','-100','-90','-70']"
        hoffset: ""
        fontsize: "['65','65','50','35']"
        lineheight: "['80','80','65','50']"
        width: "['100%','100%','100%','100%']"  # Adjusted for full width on mobile
        textAlign: "['center','center','center','center']"
        whitespace: "['normal','normal','normal','normal']"
      sub_title:
        - subheading: "Your One-Stop Destination for Comprehensive Media Solutions"
          x: "center"
          y: "middle"
          voffset: "['0','0','0','0']"
          fontsize: "['26','26','26','20']"
          lineheight: "['36','36','36','30']"
          width: "['100%','100%','100%','100%']"  # Adjusted for full width on mobile
          textAlign: "['center','center','center','center']"
          whitespace: "['normal','normal','normal','normal']"
      button:
        - text: "Explore Now"
          url: "/dreamtalk"
          x: "center"
          y: "middle"
          voffset: "['115','115','115','115']"
          hoffset: ""
          width: "['auto','auto','auto','auto']"
          textAlign: "['center','center','center','center']"

    - img: "/assets/images/art/3.jpeg"
      alt_text: "MediaCraft"
      title:
        heading: "MediaCraft"
        x: "center"
        y: "middle"
        voffset: "['-100','-100','-90','-70']"
        hoffset: ""
        fontsize: "['65','65','50','35']"
        lineheight: "['80','80','65','50']"
        width: "['100%','100%','100%','100%']"  # Adjusted for full width on mobile
        textAlign: "['center','center','center','center']"
        whitespace: "['normal','normal','normal','normal']"
      sub_title:
        - subheading: "Crafting Visual Stories to Elevate Your Brand"
          x: "center"
          y: "middle"
          voffset: "['0','0','0','0']"
          fontsize: "['26','26','26','20']"
          lineheight: "['36','36','36','30']"
          width: "['100%','100%','100%','100%']"  # Adjusted for full width on mobile
          textAlign: "['center','center','center','center']"
          whitespace: "['normal','normal','normal','normal']"
      button:
        - text: "Get Started"
          url: "/mediacraft"
          x: "center"
          y: "middle"
          voffset: "['115','115','115','115']"
          hoffset: ""
          width: "['auto','auto','auto','auto']"
          textAlign: "['center','center','center','center']"
    
    - img: "/assets/images/art/4.jpeg"
      alt_text: "AI"
      title:
        heading: "Artificial Intelligence"
        x: "center"
        y: "middle"
        voffset: "['-100','-100','-90','-70']"
        hoffset: ""
        fontsize: "['65','65','50','35']"
        lineheight: "['80','80','65','50']"
        width: "['100%','100%','100%','100%']"  # Adjusted for full width on mobile
        textAlign: "['center','center','center','center']"
        whitespace: "['normal','normal','normal','normal']"
      sub_title:
        - subheading: "Your One-Stop Destination for Comprehensive AI Solutions"
          x: "center"
          y: "middle"
          voffset: "['0','0','0','0']"
          fontsize: "['26','26','26','20']"
          lineheight: "['36','36','36','30']"
          width: "['100%','100%','100%','100%']"  # Adjusted for full width on mobile
          textAlign: "['center','center','center','center']"
          whitespace: "['normal','normal','normal','normal']"
      button:
        - text: "Discover More"
          url: "/artificial-intelligence"
          x: "center"
          y: "middle"
          voffset: "['115','115','115','115']"
          hoffset: ""
          width: "['auto','auto','auto','auto']"
          textAlign: "['center','center','center','center']"



clients_carousel:
  enable: true
  title: "We are creative company that values quality not quantity and focuses on establishing long-term relationships with clients."

services_area:
  enable: true
  title: |
    The full service we are offering is specifically <br class="d-none d-lg-block">designed to meet your business needs.
  services:
    - title: "AI Cameras"
      sub_title: "To know more about how we use AI Cameras..."
      icon: "/assets/images/icon/camera.png"
      alt_text: "AI Cameras"
      link: "ai-cameras.html"

    - title: "Internet of Things"
      sub_title: "To know more about how we use Internet of Things..."
      icon: "/assets/images/icon/IoT.png"
      alt_text: "Internet of Things"
      link: "internet-of-things.html"

    - title: "Artificial Intelligence"
      sub_title: "To know more about how we use Artificial Intelligence..."
      icon: "/assets/images/icon/ai.png"
      alt_text: "Artificial Intelligence"
      link: "artificial-intelligence.html"

    - title: "Smart Roads"
      sub_title: "To know more about how we work on Smart Roads..."
      icon: "/assets/images/icon/directons.png"
      alt_text: "Smart Roads"
      link: "smart-roads.html"

    - title: "Agriculture"
      sub_title: "To know more about how we work on Agriculture Sectors..."
      icon: "/assets/images/icon/industry.png"
      alt_text: "Agriculture"
      link: "agriculture.html"

    - title: "Health"
      sub_title: "To know more about how we work on Health Sectors..."
      icon: "/assets/images/icon/heart-care.png"
      alt_text: "Health"
      link: "health.html"
    
    - title: "Patents-IP-Realization"
      sub_title: "To know more about how we provide services on Intellectual Property..."
      icon: "/assets/images/icon/IP.png"
      alt_text: "Patents-IP-Realization"
      link: "patents-ip-realization.html"

    - title: "DreamTalk"
      sub_title: "To know more about DreamTalk services..."
      icon: "/assets/images/icon/clouds.png"
      alt_text: "DreamTalk"
      link: "dreamtalk.html"

    - title: "MediaCraft"
      sub_title: "To know more about our MediaCraft services..."
      icon: "/assets/images/icon/mediacraft.png"
      alt_text: "MediaCraft"
      link: "mediacraft.html"



projects_area:
  enable: true
  title: "Our Projects"
  sub_title: "Check out some of our awesome projects with creative ideas and great design."
  button_text: "See All Works"
  button_url: "#"
  projects:
    - image: "/assets/images/art/pp4-1.webp"
      url: "#"
    - image: "/assets/images/art/pp4-2.webp"
      url: "#"
    - image: "/assets/images/art/fp8.webp"
      url: "#"
    - image: "/assets/images/art/fp14.webp"
      url: "#"
    - image: "/assets/images/art/fp6.webp"
      url: "#"
    - image: "/assets/images/art/fp13.webp"
      url: "#"
teams_carousel:
  enable: true
  type: blob
  title: |
    Save your time and money <br class="d-none d-lg-block"> by choosing our professional team.

testimonials:
  enable: true
  image: "/assets/images/art/woman.webp"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      name: "Cornelia Gibson"
      designation: "Financial Analyst"

    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      name: "Coriss Ambady"
      designation: "Marketing Specialist"

    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      name: "Barclay Widerski"
      designation: "Sales Manager"

pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: |
    We offer great prices, premium products <br class="d-none d-lg-block" />and quality service for your business.
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      yearly_price: 99
      pricing_url: "#"
      icon: "/assets/images/icon/ec-mobile.webp"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      popular: popular
      monthly_price: 19
      yearly_price: 199
      pricing_url: "#"
      icon: "/assets/images/icon/ec-store.webp"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Corporate Plan"
      monthly_price: 49
      yearly_price: 499
      pricing_url: "#"
      icon: "/assets/images/icon/ec-online-shop.webp"
      features:
        - "<strong>49</strong> Project"
        - "<strong>300K</strong> API Access"
        - "<strong>500MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

contact_area:
  enable: true
  title: "Contact Us"
  image: "/assets/images/art/map.webp"
  sub_title: |
   'Convinced yet? Let's make something great together. <br class="d-none d-lg-block">If you got any questions, don't hesitate to get in touch with us.'
  contact_data:
    - icon: "/assets/images/icon/ui-gps.webp"
      info: "Moon Street Light Avenue<br> 14/05 Jupiter, JP 80630"

    - icon: "/assets/images/icon/co-telephone.webp"
      info: "00 (123) 456 78 90<br/> 00 (987) 654 32 10"

    - icon: "/assets/images/icon/co-email-5.webp"
      email_01: "manager@email.com"
      email_02: "asistant@email.com"
blogs_area:
  enable: true
  title: "News & Updates"
  posts_number: 6

---

{% include nav/nav-4.html  light_logo="true" alignment_class="ms-auto" %}

<div class="wrapper dark-wrapper">
  <div class="rev_slider_wrapper fullscreen-container">
    <div id="slider" class="rev_slider fullscreenbanner" data-version="5.4.7">
      <ul>
        {% for slider in page.slider_area.sliders %}
        <li data-transition="fade" data-thumb="">
          <img src="{{slider.img}}" alt="{{slider.alt_text}}" />
          <!-- Accessing title directly without a loop -->
          <div class="tp-caption font-weight-500 color-white
          {% cycle 'text-center', '', '' ,'text-center' %}" data-x="{{slider.title.x}}" data-y="{{slider.title.y}}"
            data-voffset="{{slider.title.voffset}}" data-hoffset="{{slider.title.hoffset}}" data-fontsize="{{slider.title.fontsize}}"
            data-lineheight="{{slider.title.lineheight}}" data-width="{{slider.title.width}}" data-textAlign="{{slider.title.textAlign}}"
            data-whitespace="{{slider.title.whitespace}}"
            data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-responsive="on" data-responsive_offset="on" style="z-index: 9;"> {{slider.title.heading}}
          </div>
          <!-- /.tp-caption -->
          {% for sub_title in slider.sub_title %}
          <div class="tp-caption font-weight-400 color-white {% cycle 'text-center', '','text-center' %}"
            data-x="{{sub_title.x}}" data-y="{{sub_title.y}}" data-voffset="{{sub_title.voffset}}"
            data-hoffset="{{sub_title.hoffset}}" data-fontsize="{{sub_title.fontsize}}"
            data-lineheight="{{sub_title.lineheight}}" data-width="{{sub_title.width}}"
            data-textAlign="{{sub_title.textAlign}}" data-whitespace="{{sub_title.whitespace}}"
            data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-responsive="on" data-responsive_offset="on" style="z-index: 9;"> {{sub_title.subheading}}
          </div>
          {% endfor %}
          {% for button in slider.button %}
          <!-- /.tp-caption -->
          <a class="tp-caption btn btn-l btn-white btn-strong-hover scroll" data-x="{{button.x}}" data-y="{{button.y}}"
            data-voffset="{{button.voffset}}" data-hoffset="{{button.hoffset}}" data-width="{{button.width}}"
            data-textAlign="{{button.textAlign}}"
            data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-responsive="on" data-responsive_offset="on" style="z-index: 9;" href="{{button.url}}"> {{button.text}}
          </a>
          <!-- /.tp-caption -->
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
</div>

 <!-- Features Wrapper-->
{% if page.services_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <h1 class="display-3 text-center">Our Domains & Areas</h1>
    <p class="lead larger text-center">We encourage you to Think Big too! Our end-to-end services, domains, and areas expertise in cutting edge tech and ability to build whatever you dream up, makes us your ideal partner. Explore our Domains & Areas.</p>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-left">
      {% for services in page.services_area.services %}
      <div class="col">
        <div class="box bg-white shadow shadow-hover">
          <div class="icon icon-svg mb-20"><img src="{{services.icon}}" alt="icons"></div>
          <h5>{{services.title}}</h5>
          <p>{{services.sub_title}}</p>
          <a href="{{services.link}}">Read More</a>
        </div>
        <!--/.box -->
      </div>
      <!--/column -->
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

  <div class="wrapper gray-wrapper">
    <div class="container inner">
      <h2 class="section-title mb-40 text-center">Our Fields of Expertise</h2>
      <p class="lead larger text-center">We thrive on tailoring cutting-edge strategies to provide clients with the best solutions in the industry.</p>
      <ul class="nav nav-pills nav-tabs nav-tabs-centered d-flex justify-content-center text-center">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#tab4-1">
            <div class="icon color-dark"><i class="icofont-micro-chip"></i></div><span>AI</span>
          </a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab4-2">
            <div class="icon color-dark"><i class="icofont-brainstorming"></i></div><span>IoT</span>
          </a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab4-3">
            <div class="icon color-dark"><i class="icofont-cubes"></i></div><span>Drones</span>
          </a> </li>
          <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab4-4">
              <div class="icon color-dark"><i class="icofont-code-alt"></i></div><span>Software</span>
            </a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#tab4-5">
                <div class="icon color-dark"><i class="icofont-newspaper"></i></div><span>Intellectual Property</span>
              </a> </li>
      </ul>
      <!-- /.nav-tabs -->
      <div class="space30 d-none d-md-block"></div>
      <div class="tab-content">
        <div class="tab-pane show active" id="tab4-1">
          <div class="box bg-white shadow">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                  <figure><img src="#" srcset="{{relative_url}}/assets/images/concept/HAI.webp 1x, {{relative_url}}/assets/images/concept/HAI@2x.webp 2x" alt="Artificial Intelligence" /></figure>
                </div>
              </div>
              <!--/column -->
              <div class="space30 d-none d-md-block d-lg-none"></div>
              <div class="col-lg-6">
                <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                  <h2>Artificial Intelligence</h2>
                  <p>At Vishvena, we are at the forefront of innovation, utilizing Artificial Intelligence to transform key sectors, including Agriculture, Fleet Management, Health, and Defence. Our commitment lies in delivering cutting-edge solutions that optimize operations, improve efficiency, and drive progress in these vital domains.</p>
                  <p>At Vishvena, we are dedicated to pushing the boundaries of AI applications, contributing to a future where technology creates sustainable solutions and secures our world. Join us as we pioneer advancements that shape the way industries operate and evolve. Vishvena - Where AI meets Excellence.</p>
                </div>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/.box -->
        </div>
        <div class="tab-pane" id="tab4-2">
          <div class="box bg-white shadow">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                  <figure><img src="#" srcset="{{relative_url}}/assets/images/concept/HIOT.webp 1x, {{relative_url}}/assets/images/concept/HIOT@2x.webp 2x" alt="Internet of Things" /></figure>
                </div>
              </div>
              <!--/column -->
              <div class="space30 d-none d-md-block d-lg-none"></div>
              <div class="col-lg-6">
                <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                  <h2>Internet of Things</h2>
				  <ul class="unordered-list bullet-blue">
                  <li>Specializes in shaping deep tech innovation.</li>
					<li>Leverages IoT for solutions in healthcare, agriculture, and fleet management.</li>
					<li>Holds patents for inventions like TRINETRA IoT software and chromatic jaundice detection.</li>
					<li>Actively revolutionizing farming practices with drone systems. </li>
					<li>Enhances commercial transportation through camera-based AI devices.</li>
					<li>Dedicated to transforming industries with viable and valuable deep tech solutions.</li>

                </div>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/.box -->
        </div>
        <div class="tab-pane" id="tab4-3">
          <div class="box bg-white shadow">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="pl-15 pr-md-0 pl-sm-0 h-100">
                  <h2>Drones</h2>
                  <p>Vishvena's Drone Division: Pushing Boundaries in Aerial Tech. Our expertise in IoT, AI, and advanced hardware drives innovation for agriculture, logistics, and emergency response. Reliability, simplicity, safety, our commitment to revolutionizing sectors is unwavering. Expect big things.</p>
  				<ul class="unordered-list bullet-blue">
				<li>Innovating Aerial Solutions Globally.</li>
  				<li>Transforming Industries through Drone Technology.</li>
  				<li>Reliable, Safe, and Futuristic Drones.</li>

  			  </div>
              </div>
              <!--/column -->
              <div class="space30 d-none d-md-block d-lg-none"></div>
              <div class="col-lg-6">
                <div class="pr-15 pl-md-0 pr-sm-0 h-100">
                  <figure><img src="#" srcset="{{relative_url}}/assets/images/concept/HDRONE.webp 1x, {{relative_url}}/assets/images/concept/HDRONE@2x.webp 2x" alt="Drones" /></figure>
                </div>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/.box -->
        </div>
        <div class="tab-pane" id="tab4-4">
          <div class="box bg-white shadow">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="pr-15 pr-md-0 pr-sm-0 h-100">
                  <figure><img src="#" srcset="{{relative_url}}/assets/images/concept/HSOFT.webp 1x, {{relative_url}}/assets/images/concept/HSOFT@2x.webp 2x" alt="Softwares" /></figure>
                </div>
              </div>
              <!--/column -->
              <div class="space30 d-none d-md-block d-lg-none"></div>
              <div class="col-lg-6">
                <div class="pl-15 pl-md-0 pl-sm-0 h-100">
                  <h2>Softwares</h2>
                  <p>In our pursuit of technological innovation, Vishvena places a strong emphasis on software solutions that drive efficiency, precision, and advancement across key sectors. Our Software Section plays a pivotal role in reshaping Agriculture, Fleet Management, Health, and Defence. Explore how Vishvena leverages software to catalyze transformative changes</p>
  			  </div>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/.box -->
        </div>
  	  <div class="tab-pane" id="tab4-5">
  <div class="box bg-white shadow">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="pr-15 pr-md-0 pr-sm-0 h-100">
          <figure><img src="#" srcset="{{relative_url}}/assets/images/concept/HPOLICY.webp 1x, {{relative_url}}/assets/images/concept/HPOLICY@2x.webp 2x" alt="Policies" /></figure>
        </div>
      </div>
      <!--/column -->
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6">
        <div class="pl-15 pl-md-0 pl-sm-0 h-100">
          <h2>Intellectual Property</h2>
          <p>"Vishvena specializes in Intellectual Property (IP) services, safeguarding businesses' innovations worldwide. Our tailored solutions cover patents, trademarks, and copyrights, empowering clients to maximize the value of their intangible assets while ensuring legal compliance and competitive advantage"</p>
          <p>"Vishvena is dedicated to guiding businesses through the complexities of Intellectual Property (IP) management. From patent searches to licensing agreements, our expert team offers strategic support at every stage, helping clients protect and leverage their innovations effectively."</p>
          <a href="/patents-ip-realization" class="read-more">Read More</a>
        </div>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!--/.box -->
</div>

      </div>
      <!-- /.tab-content -->
    </div>
    <!-- /.container -->
  </div>

  {% if page.blogs_area.enable %}
  <div class="wrapper light-wrapper">
    <div class="container inner">
      {% if page.blogs_area.title %}
      <h2 class="section-title text-uppercase text-center mb-40">{{page.blogs_area.title}}</h2>
      {% endif %}
      <div class="grid-view">
        <div class="carousel owl-carousel blog-posts" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'>
            {% for post in site.posts limit: page.blogs_area.posts_number %}
          <div class="item">
            <figure class="overlay overlay1 rounded mb-30">
              {% if post.post_image %}
                <a href="{{post.url}}"><img src="{{post.post_image}}" class="post-thumb" alt="{{post.title}}"/></a>
              {% endif %}
              <figcaption>
                <h5 class="from-top mb-0">Read More</h5>
              </figcaption>
            </figure>
            <div class="category">
              <a href="/category/{{post.categories[0] | slugify}}" class="badge rounded-pill {{post.badge_color}} ">{{post.categories[0]}}</a>
            </div>
            <h2 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h2>
            <div class="meta mb-0"><span class="date"><i class="jam jam-clock"></i> {{post.date | date_to_string}}</span></div>
          </div>
          {% endfor %}
        </div>
        <!-- /.owl-carousel -->
      </div>
      <!-- /.grid-view -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% endif %}



    {% include footer/footer-5.html %}
	
	

	
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Unlock innovation with Vishvena! Explore our Intellectual Property, Artificial Intelligence, Hardware, and Software services. Transform your business today!">
    <meta name="author" content="Vishvena">
    <!-- Other meta tags -->

    <!-- Canonical Tag -->
    <link rel="canonical" href="https://www.vishvena.com/">

    <title>Vishvena - Let's Build</title>
    <!-- Other head elements like stylesheets, scripts, etc. -->

    <!-- Add CSS for making slider text and buttons mobile responsive -->
	

</head>


<body>
    <!-- Your page content here -->
</body>
</html>
