---
layout: page-2
title: "Our Services"
sub_title: "Creating quality products that make your life easier"
header_image: "/assets/images/art/bg5.webp"
simple_nav: true

services_area:
  enable: true
  title: "What We Do??"
  sub_title: "Experience transformative solutions with Vishvena’s innovative services, merging cutting-edge technologies like IoT, AI, and ML to revolutionize industries and drive growth."
  services:

    - title: "AI Cameras"
      description: "AI Camera Services Transforming Industries Through DeepTech Expertise..."
      icon: "icofont-camera"
      icon_style: "icon-blob-rose color-rose"
	  link: "ai-cameras.html"
	  
    - title: "AI Solutions"
      description: "AI Solution Services Transforming Industries Through DeepTech Expertise:..."
      icon: "icofont-safety"
      icon_style: "icon-blob-blue color-blue"

    - title: "Research & Development"
      description: "Research & Development Services Transforming Industries Through DeepTech..."
      icon: "icofont-refresh"
      icon_style: "icon-blob-green color-green"

    - title: "Product Development"
      description: "Product Development Services Transforming Industries Through DeepTech Expertise:..."
      icon: "icofont-chart-arrows-axis"
      icon_style: "icon-blob-purple color-purple"

    - title: "Patents/IP realization"
      description: "Patents/IP Services Transforming Industries Through DeepTech Expertise: Innovation..."
      icon: "icofont-gear"
      icon_style: "icon-blob-orange color-orange"

    - title: "IoT Solutions"
      description: "Our Services Transforming Industries Through DeepTech Expertise: Innovation..."
      icon: "icofont-earth"
      icon_style: "icon-blob-violet color-violet"


    - title: "Digital Transformation"
      description: "Digital Transformation Services Transforming Industries Through DeepTech Expertise:..."
      icon: "icofont-search-folder"
      icon_style: "icon-blob-violet color-violet"

video_area:
  enable: true
  title: "Our Process"
  sub_title: "Find out everything you need to know about creating a business process."
  video_url: "https://www.youtube.com/watch?v=26TbMXXOe0I"
  image_url: "/assets/images/art/about5.webp"
  description: |
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio.
  projects:

    - projects_number: "7518"
      title: "Completed Projects"

    - projects_number: "3472"
      title: "Satisfied Customers"

    - projects_number: "523"
      title: "Awards Won"

how_it_works:
  enable: true
  title: "How it Works?"
  sub_title: "We bring solutions to make life easier for our customers"
  image: "/assets/images/concept/concept1@2x.webp"
  steps:

    - title: "24/7 Support"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon_style: "icon-blob-blue color-blue"
      icon: "icofont-cubes"

    - title: "Secure Payments"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon_style: "icon-blob-teal color-teal"
      icon: "icofont-chart-arrows-axis"

    - title: "Daily Updates"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo."
      icon_style: "icon-blob-yellow color-yellow"
      icon: "icofont-brush"

---

{% if page.services_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-md-7 mx-auto">
       {% if page.services_area.title %}
         <h2 class="title-color color-gray text-center">{{page.services_area.title}}</h2>
       {% endif %}
       {% if page.services_area.sub_title %}
         <h3 class="display-3 text-center">{{page.services_area.sub_title}}</h3>
       {% endif %}
       <div class="space40"></div>
      </div>
    </div>
    <div class="row gutter-50">
      {% for services in page.services_area.services %}
      <div class="space20 d-none d-md-block d-lg-none"></div>
      <div class="col-md-4 mb-30">
        <div class="box bg-white shadow">
          <div class="icon color-rose fs-38 mb-20"> <i class="{{services.icon}}"></i> </div>
          <h5>{{services.title}}</h5>
          <p>{{services.description}}</p>
		  <a href="{{services.link}}">Read More</a>
        </div>
        <!--/.box -->
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- /.wrapper -->
{% endif %}
