---
layout: default
---

{% include nav/nav-4.html  logo_class="logo" %}

{% include single-post/classic-post-boxed.html %}

{% if page.author %}
{% include author.html boxed= true %}
{% endif %}
{% if page.slider_post %}
{% include single-post/slider-posts.html slider_post_title="Other Posts You Might Like" container_class="container" %}
{% elsif page.trending %}
{% include single-post/trending-posts.html slider_post_title="Trending Posts" %}
{% endif %}


{% include footer/footer-5.html light_logo="true" %}
